h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	}

button {
	margin-top: 20px;

}

#Game {font-size: 20px;
	line-height: 50px;
}

h1, button, #Game {
	margin-left: 15px;

}